on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - run: npm install && npm run build

  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - run: npm install && npm run lint
